body {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#heart {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    transform: rotate(-45deg);
    animation: beat 1s infinite ease-in-out;
}

#heart::before,
#heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}

#heart::before {
    top: -50px;
    left: 0;
}

#heart::after {
    left: 50px;
    top: 0;
}

@keyframes beat {
    0%, 100% {
        transform: rotate(-45deg) scale(1);
    }
    50% {
        transform: rotate(-45deg) scale(1.3);
    }
}
    